@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,300;1,400;1,700&family=Rubik:wght@300;400;500&family=Ubuntu:ital,wght@0,300;0,500;1,400;1,500;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
*{
    padding: 0;
    margin: 0;
}

.container-principal{
    max-width: 100%;
    height: auto;
    border: solid 1px;
    background-color: grey;
    display: flex;
    flex-direction: row;
}

/* formatação do menu lateral********************************************** */
.menu-lateral{
    width: 30%;
    height: 100vh;
    background-color: #335384;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    color: #FFF;
}
.imagem-perfil{
    width: 35%;
    height: 10rem;
    border: solid 3px #777;
}
.foto-perfil{
    width: 100%;
    height: 100%;
}
.contatos{
    width: 90%;
    margin-top: 1rem;
}
.contatos h2{
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .3rem;
    margin-bottom: .7rem;
}
.contatos li{
    list-style: none;
}
.contatos li a{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #fff;
    text-decoration: none;
    margin-left: 1.5rem;
}
.contatos li i{
    color: #fff;
    font-size: 1.5rem;
    margin-right: 1rem;
}


.formacao-academica{
    width: 90%;
    margin-top: 1rem;
}
.formacao-academica h2{
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .3rem;
    margin-bottom: .7rem;
}
.formacao-academica li{
    margin-left: 1.5rem;
    
}

/* corpo da pagina de conteudos******************************************** */
.main-conteudos{
    width: 70%;
    height: auto;
    background-color: #fff;
}

@media screen and (max-width: 700px) {
    /* formatação do menu lateral********************************************** */
    .menu-lateral{
        min-width: 70%;
        background-color: #335384;
        position: fixed;
        z-index: 2;
    }
    .main-conteudos{
        width: 100%;
        height: auto;
    }
}