@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

*{
    padding: 0;
    margin: 0;
}
#nav{
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
    
}
#nav img{
    width: 100%;
    height: 100%;
    opacity: .3;
}
.menu-link{
    width: 20%;
    height: 100vh;
    background-color: #8a2be2;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
}
.menuL{
    display: flex;
    animation: animaMenu 1s;
}
@keyframes animaMenu{
    0%{ 
        width: 0%;
    }
    100%{ 
        width: 20%;
    }
}

#menu-link li{
    list-style: none;
    margin: 1.5rem;
}
#menu-link li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}
#botao-menu{
    width: 2rem;
    height: 1rem;
    position: fixed;
    top: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}
#botao-menu:hover{
    transform: scale(1.2);
}
#botao-menu > span{
    border: solid 1px #ccc;
    width: 100%;
    box-shadow: 1px 1px 2px #000;
}

/* SESSAO DE conhecimentos ##########################################################*/
#conhecimentos{
    width: 100%;
    height: 100vh;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#titulo{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
#titulo h1{
    border-bottom: solid 3px;
    color: #795f92;
}
#cards{
    margin-top: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}
.card-itens{
    width: 20%;
    height: 10rem;
    align-items: center;
    transition: ease all 1s;
}
/* #cards1{animation: animeCards  infinite; transition: all 1s;}
#cards2{animation: animeCards infinite; transition: 2s;}
#cards3{animation: animeCards infinite; transition: 3s;} */

.card-itens > p{
    width: 100%;
    color: #795f92;
    text-align: center;
}
.card-itens > i{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.fa-html5{
    font-size:8rem;
    color: #f00;
}
.fa-css3-alt{
    font-size:8rem;
    color: #00f;
}
.fa-js{
    font-size:8rem;
    color: #969619;
}
.progPrimary{
    width: 100%;
    height: .7rem;
    border: solid 2px #795f92;
    border-radius: 10px;
}
.progSecondary{
    width: 0%;
    height: 100%;
    background-color: #0f0;
    border-radius: 10px;
}


@media screen and (max-width: 700px) {
    #cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-itens{
        width: 30%;
        height: 10rem;
        margin: 1rem 0 1rem 0;
    }
}
